* {
    margin: 0;
    padding: 0;
}

/* * {
    border: 2px solid #9f2727;
} */

body {
    font-family: "amandine";
}

#hero {
    background-color: #333;
    background-size: cover;
    background-position: center;
    color: white;
    height: 550px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

svg {
    fill: white;
    position: relative;
    top: -300px;
    left: 400px;
}

.hero-content h1 {
    font-family: "amandine", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 100px;
    background-color: rgb(241, 226, 255);
    color: #333;
    position: relative;
    top: 50px;
    left: -400px;
    white-space: nowrap;
    text-align: right;
    padding-right: 20px;
}

.hero-content h2 {
    font-family: "amandine", sans-serif;
    font-weight: 500;
    font-style: regular;
    text-align: left;
    font-size: 100px;
    background-color: rgb(241, 226, 255);
    color: #333;
    position: relative;
    top: -100px;
    right: -600px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -10px;
    max-width: 485px;
}

#works {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px 400px 400px;
    grid-row-gap: 75px;
}
.workstitle {
    grid-column: 1 / -1;
    font-size: 150px;
    margin-left: 200px;
    margin-top: -20px;
}

#works .img1, #works .title1 {
    margin-top: -200px;
}
#works .img3 {
    margin-top: 175px;
}
#works .img5, #works .img7 {
    margin-top: 100px;
}

h2 {
    text-align: center;
    justify-self: center;
    font-size: 50px;
    padding-top: 200px;
}

img {
    width: 400px;
    height: auto;
    justify-self: center;
}

#about {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.abouttitle {
    grid-column: 1 / -1;
    font-size: 150px;
    margin-left: 200px;
    margin-top: 200px;
}

.aboutdescription {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    text-indent: 20px;
    word-spacing: 2px;
    margin-left: 40px;
}

footer {
    background-color: rgb(241, 226, 255);
}